a {
  text-decoration: none;
}

.content {
  min-width: 70%;
  padding: 5%;
  text-align: center;
}

.lizard {
  font-size: 5rem;
}
.hi {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  width: 65%;
  padding: 0.5em 3em;
  margin-bottom: 0.5em;
  background-color: snow;
  border-radius: 5px;
  display: flex;
  align-items: baseline;
}
.work .title {
  min-width: 35%;
  margin-right: 0.5em;
}
.work .desc {
  /* padding-left: 0.5em; */
}
